<!DOCTYPE html>
<html lang="``">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>cartoon</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        font-family: "Noto Sans KR", sans-serif;
      }

      .mytitle {
        width: 100%;
        max-width: 1000px;
        height: 125px;
        margin: auto;

        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("https://w.namu.la/s/47d97a1b8539d97e940171ebb7a094d88ece99aa69b567196b05665dafa0eeb1832b0209b83abf33fa29dcf043988cae279404150f53231448ac7d1c35ae1da3c5d893344dfadd2d04a975a642e1cd6e0e105b9f2aedeb8d94335209d235aec91737241c0bbcb01d12b8c4189c2a1caa");
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;
      }

      #carouselExampleCaptions {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        margin-top: 20px;
      }

      #carouselExampleCaptions .carousel-item img {
        opacity: 90%;
        height: 550px;
      }

      #carouselExampleCaptions .carousel-item .d-none h5 {
        font-size: 30px;
        font-weight: 900;
        width: 100%;
        background-color: black;
        color: white;
      }

      #carouselExampleCaptions .carousel-item .d-none p {
        font-size: 15px;
        font-weight: 900;
        width: 100%;
        background-color: black;
        color: white;
      }

      #carouselExampleCaptions button {
        background-color: black;
      }

      .mycards {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        margin-top: 20px;
      }

      .mycards span {
        margin-left: 15px;
      }

      .mycards .comment-box {
        border: 2px #dddddd solid;
        padding: 20px;
        display: none;
        margin-top: 10px;
      }

      .mycards .btn-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .mycards .btn-box button {
        margin: 15px;
      }

      .writing .writing-box-group {
        display: flex;
      }

      .writing .comment-box2 {
        display: none;
      }

      .writing .comment-box3 {
        display: none;
      }

      .writing .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
      }
    </style>
    <script>
      let isShow = false;
      let isShow2 = false;
      let isShow3 = false;

      function toggle_comment() {
        isShow = !isShow;
        if (isShow) $(".comment-box").show();
        else $(".comment-box").hide();
      }

      function toggle_comment2() {
        isShow2 = !isShow2;
        if (isShow2) $(".comment-box2").show();
        else $(".comment-box2").hide();
      }

      function toggle_comment3() {
        isShow3 = !isShow3;
        if (isShow3) $(".comment-box3").show();
        else $(".comment-box3").hide();
      }

      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
          data: {},
          success: function (response) {
            $("#city").text(response["city"]);
            $("#temp").text(response["temp"]);
            $("#temp_img").attr("src", response["icon"]);
          },
        });
        listing();
      });

      function listing() {
        $.ajax({
          type: "GET",
          url: "/cartoon",
          data: {},
          success: function (response) {
            let title_rows = response["titles"];
            let sub_title_rows = response["sub_titles"];
            let image_rows = response["images"];

            for (let i = 0; i < 3; i++) {
              let title_html = title_rows[i];
              let sub_title_html = sub_title_rows[i];
              let image_html = image_rows[i];
              let temp_html_carousel;
              if (i === 0) {
                temp_html_carousel = `<div class="carousel-item active">
                                                    <img src=${image_html}
                                                        class="d-block w-50 mx-auto" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>${title_html}</h5>
                                                        <p>${sub_title_html}</p>
                                                    </div>
                                                </div>`;
              } else {
                temp_html_carousel = `<div class="carousel-item">
                                                    <img src=${image_html}
                                                        class="d-block w-50 mx-auto" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>${title_html}</h5>
                                                        <p>${sub_title_html}</p>
                                                    </div>
                                                </div>`;
              }
              $("#carousel_crow").append(temp_html_carousel);
            }
          },
        });
      }
      function posting() {
        let url = $("#floatingTextarea3").val();
        let card_num = $("#floatingTextarea5").val();
        $.ajax({
          type: "POST",
          url: "/cartoon",
          data: {
            url_give: url,
            num_give: card_num,
          },
          success: function (response) {
            let rows = response["cartoons_post"];
            for (let i = 0; i < rows.length; i++) {
              let card_number = rows[i]["c_number"];
              let card_image = rows[i]["c_image"];
              let card_sub_title = rows[i]["c_sub_title"];
              let card_title = rows[i]["c_title"];

              let card_temp = `<div class="col">
            <div class="card">
              <img src=${card_image} class="card-img-top" alt="...">
              <div class="card-body">
                    <h5 class="card-title">${card_title}</h5>
                    <p class="card-text">${card_sub_title}</p>
                    <button type="button" onclick="toggle_comment()" class="btn btn-outline-primary">코멘트</button>
                    <button type="button" class="btn btn-outline-success">👍</button>
                    <button type="button" class="btn btn-outline-danger">👎</button>
                    <button type="button" class="btn btn-outline-info">${card_number}</button>
                    <span>⭐⭐⭐⭐⭐</span>
                    <div class="comment-box">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                      id="floatingTextarea1" style="height: 60px"></textarea>
                            <label for="floatingTextarea1">닉네임</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                      id="floatingTextarea2" style="height: 120px; margin-top: 15px"></textarea>
                            <label for="floatingTextarea2">코멘트</label>
                        </div>
                        <div class="btn-box">
                            <button type="button" class="btn btn-primary">기록하기</button>
                            <button type="button" onclick="toggle_comment()" class="btn btn-secondary">닫기</button>
                        </div>

                        <div class="card card-small">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>얘네는 그래도 사람이라 같은 식탁에서 밥먹음</p>
                                    <footer class="blockquote-footer">아이언맨</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`;

              $("#card_box").prepend(card_temp);
            }
          },
        });
      }

      function posting_del() {
        let del_num = $("#floatingTextarea4").val();
        $.ajax({
          type: "POST",
          url: "/cartoon_delete",
          data: {
            delete_give: del_num,
          },
          // success: function (response) {}
        });
      }
    </script>
  </head>

  <body>
    <div class="mytitle">
      <h1><span class="abc">JS</span>의 만화록</h1>
      <p>
        도시 : <span id="city"></span> , 현재 기온: <span id="temp"></span>도
        <img id="temp_img" src="" />
      </p>
    </div>

    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div id="carousel_crow"></div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="mycards">
      <div class="writing">
        <div class="writing-box-group">
          <button
            type="button"
            onclick="toggle_comment2()"
            class="btn btn-outline-success"
          >
            만화 기록하기
          </button>
          <button
            type="button"
            onclick="toggle_comment3()"
            class="btn btn-outline-danger"
          >
            만화 삭제하기
          </button>
        </div>

        <div class="comment-box2">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea3"
              style="height: 60px"
            ></textarea>
            <label for="floatingTextarea3">만화 URL</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea5"
              style="height: 60px"
            ></textarea>
            <label for="floatingTextarea5">만화 NUMBER</label>
          </div>
          <div class="btn-box">
            <button type="button" onclick="posting()" class="btn btn-success">
              기록하기
            </button>
            <button
              type="button"
              onclick="toggle_comment2()"
              class="btn btn-secondary"
            >
              닫기
            </button>
          </div>
        </div>

        <div class="comment-box3">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea4"
              style="height: 60px"
            ></textarea>
            <label for="floatingTextarea3">만화 NUMBER</label>
          </div>
          <div class="btn-box">
            <button
              type="button"
              onclick="posting_del()"
              class="btn btn-danger"
            >
              삭제하기
            </button>
            <button
              type="button"
              onclick="toggle_comment3()"
              class="btn btn-secondary"
            >
              닫기
            </button>
          </div>
        </div>
      </div>

      <div id="card_box" class="row row-cols-1 row-cols-md-2 g-4">
        {% for cartoon in cartoons_main %}
        <div class="col">
          <div class="card">
            <img src={{cartoon['c_image']}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cartoon['c_title']}}</h5>
              <p class="card-text">{{cartoon['c_sub_title']}}</p>
              <button
                type="button"
                onclick="toggle_comment()"
                class="btn btn-outline-primary"
              >
                코멘트
              </button>
              <button type="button" class="btn btn-outline-success">👍</button>
              <button type="button" class="btn btn-outline-danger">👎</button>
              <button type="button" class="btn btn-outline-info">
                {{cartoon['c_number']}}
              </button>
              <span>⭐⭐⭐⭐⭐</span>
              <div class="comment-box">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea1"
                    style="height: 60px"
                  ></textarea>
                  <label for="floatingTextarea1">닉네임</label>
                </div>
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 120px; margin-top: 15px"
                  ></textarea>
                  <label for="floatingTextarea2">코멘트</label>
                </div>
                <div class="btn-box">
                  <button type="button" class="btn btn-primary">
                    기록하기
                  </button>
                  <button
                    type="button"
                    onclick="toggle_comment()"
                    class="btn btn-secondary"
                  >
                    닫기
                  </button>
                </div>

                <div class="card card-small">
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>얘네는 그래도 사람이라 같은 식탁에서 밥먹음</p>
                      <footer class="blockquote-footer">아이언맨</footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
